<!DOCTYPE html>
<html lang="en">
	<head>
	    <% include ../partials/head %>
	</head>
	<body ng-app='app' ng-cloak>
	
	    <header class="header header-fixed">
	        <% include ../partials/header %>
	    </header>
	
	    <div class='container' ng-controller="CharacterCtrl" style="min-height: 600px; border-top-right-radius: 0px; border-top-left-radius: 0px;">
    		<div ng-show="isSearching" style="height: 30px">
				<p style="background-image: url('/images/ajax-loader.gif'); background-repeat: no-repeat; height: 27px; background-position-y: 4px; padding-left: 21px">{{textValue.substr(textOffset)}}</p>
			</div>
	        <div ng-show="Characters.length == 0 && Character == null && search.length == 0" class="col-lg-12">
	        	<br />
	        	<div class="col-xs-6">
        			<h3>How To Use:</h3>
        			<ul>
        				<li>Click the logo to clear search</li>
        				<li>When viewing the search results, click on the character's thumbnail to view full profile</li>
        				<li>When searching, click on the character's name to view full profile</li>
        			</ul>
        		</div>
				<div class="col-xs-6 embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OUYW0JyzydA" frameborder="0" allowfullscreen></iframe>
				</div>
	        </div>
	        <!--- | --->
	        <div ng-show="Characters.length == 0 && Character == null && search.length > 0">
	        	<div class="col-lg-12 center-block" style="text-align:center">
	        		<img src="/images/no-results-001.jpg" class="img-rounded" />
	        		<div class="col-lg-12" style="text-align: center">
	        			<h2>Looks Like Your Character Is Invisible<br /><small>Try Searching For Another Character</small></h2>
	        		</div>
	        	</div>
	        </div>
	        <!--- | --->
	        <div ng-show="Characters.length > 0 && Character == null && search.length > 0" class="col-lg-12">
	        	<div class="col-sm-4 card" ng-repeat="Character in Characters | filter: {name: search.toLowerCase()} | orderBy: 'name'">
	        		<div class="col-sm-12 card-inner" ng-click="loadCard(Character)">
	        			<div class="row header center-block col-sm-12">
		        			<h2>{{Character.name.substr(0,14)}}{{Character.name.length > 14 ? "..." :""}}<br /><small>{{Character.real_name}}&nbsp;</small></h2>
		        		</div>
		        		<div class="row image center-block col-sm-12">
		        			<img ng-src="{{getImage(Character)}}" alt="{{Character.name}}" class="img-thumbnail center-block" />
		        		</div>
		        		<div class="row center-block col-sm-12">
		        			{{Character.deck}}
		        		</div>
	        		</div>
	        	</div>
	        	<div ng-show="hasNoResults()">
		        	<div class="col-lg-12 center-block" style="text-align:center">
		        		<img src="/images/no-results-001.jpg" class="img-rounded" />
		        		<div class="col-lg-12" style="text-align: center">
		        			<h2>Looks Like Your Character Is Invisible<br /><small>Try Searching For Another Character</small></h2>
		        		</div>
		        	</div>
		        </div>
	        </div>
	        <!--- | --->
	        <div ng-show="Character != null" class="col-lg-12">        	
	        	<div class="row col-lg-12">
	        		<h2 style="text-align:center">{{Character.name}} <small>{{Character.real_name}}</small></h2>
	        		<img ng-src="{{getImage(Character)}}" alt="{{Character.name}}" class="img-thumbnail center-block details" />
	        		<hr />
	        	</div>
	        	<div class="row col-lg-12">
    				<p class="description" ng-bind-html="Character.description"></p>
    			</div>
    			<div class="row col-lg-12">
    				<hr />
	        		<strong>Other Characters:</strong> <span ng-repeat="Character in Characters | filter: {name: search.toLowerCase()} | orderBy: 'name'" class="character-list" ng-click="loadCard(Character)">{{Character.name}}</span>
	        	</div>	
	        </div>
	    </div>
	</body>
</html>