<!DOCTYPE html>
<html ng-app="assignment">
	<head>
		<!-- META -->
		<meta charset="UTF-8">
		<title>CS454: Assignment 4</title>
		
		<!-- CSS Libraries -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<style type="text/css">
			.left-inner-addon {
			    position: relative;
			}
			.left-inner-addon input {
			    padding-left: 30px;    
			}
			.left-inner-addon i {
			    position: absolute;
			    padding: 10px 12px;
			    pointer-events: none;
			}
			
			.right-inner-addon {
			    position: relative;
			}
			.right-inner-addon input {
			    padding-right: 30px;    
			}
			.right-inner-addon i {
			    position: absolute;
			    right: 0px;
			    padding: 10px 12px;
			    pointer-events: none;
			}
			li.odd {
				background-color: #eee;
			}
			li.even {
				background-color: #fff;
			}
			.employee-widget {
				border-radius: 4px;
				border: 1px solid #ccc;
			}
		</style>
		
		<!-- JS Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		
		<!-- Angular App -->
		<script src="js/app.js"></script>
		
		<!-- Angular Models -->
		<script src="js/models/Employee.js"></script>
		<script src="js/models/Task.js"></script>
		
		<!-- Angular Containers -->
		<script src="js/containers/EmployeeContainer.js"></script>
		<script src="js/containers/TaskContainer.js"></script>
		
		<!-- Angular Controllers -->
		<script src="js/controllers/AddTaskCtrl.js"></script>
		<script src="js/controllers/AddEmployeeCtrl.js"></script>
		<script src="js/controllers/DashboardCtrl.js"></script>
		<script src="js/controllers/EmployeeCtrl.js"></script>
		<script src="js/controllers/TaskListCtrl.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div>
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
					<a class="navbar-brand" href="">CS454: Assignment 4</a>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<div class="right-inner-addon">
		                		<i class="glyphicon glyphicon-search"></i>
		                		<input type="search" class="form-control" ng-model="search.$" placeholder="Search">
	                		</div>
				        </div>
			        </form>
				</div>
			</div>
		</nav>
		
		<div class="col-xs-12">
			<div class="row">
				<section class="col-xs-3" ng-controller="AddTaskCtrl">
					<h2 class="col-xs-12">Add Task</h2>
					<form class="col-xs-12">
						<div class="col-xs-12">
							<div class="col-xs-4">
								<label class="pull-right" for="task-name">Task:</label>
							</div>
							<div class="col-xs-8">
								<input type="text" id="task-name" ng-model="task.name" class="col-xs-12 form-control" />
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4">
								<label class="pull-right" for="task-hours">Time (hrs):</label>
							</div>
							<div class="col-xs-8">
								<input type="text" id="task-hours" ng-model="task.hours" class="col-xs-12 form-control" ng-change="filterHours()"/>
							</div>
						</div>
						<div class="col-xs-12"><br /></div>
						<div class="col-xs-12" style="text-align: center">
							<button class="btn btn-primary" ng-click="submitForm()">Add Task</button>
						</div>
					</form>
				</section>
				<!-- section class="col-xs-3" ng-controller="AddEmployeeCtrl">
					<h2 class="col-xs-12">Add Employee</h2>
					<form class="col-xs-12">
						<div class="col-xs-12">
							<div class="col-xs-4">
								<label class="pull-right" for="employee-name">Name:</label>
							</div>
							<div class="col-xs-8">
								<input type="text" id="employee-name" ng-model="employee.name" class="col-xs-12 form-control" ng-change="filterName()"/>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4">
								<label class="pull-right" for="employee-title">Title:</label>
							</div>
							<div class="col-xs-8">
								<input type="text" id="employee-title" ng-model="employee.title" class="col-xs-12 form-control"/>
							</div>
						</div>
						<div class="col-xs-12"><br /></div>
						<div class="col-xs-12" style="text-align: center">
							<button class="btn btn-primary" ng-click="submitForm()">Add Employee</button>
						</div>
					</form>
				</section -->
				<section class="col-xs-6" ng-controller="TaskListCtrl">
					<h2 class="col-xs-12">Task List</h2>
					<ul class="col-xs-12 list-unstyled">
						<li class="col-xs-12" ng-repeat="task in taskList | filter:search" ng-class="{even: $even,odd:$odd}">
							<div class="col-xs-5">{{task.name}} || {{task.hours}} hours</div>
							<div class="col-xs-3">
								<select ng-model="task.employee" class="form-control">
									<option ng-repeat="employee in employeeList" ng-value="employee.id">{{employee.name}}</option>
								</select>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-warning col-xs-12" ng-click="assignTask(task)"><i class="glyphicon glyphicon-paperclip"></i> Assign</button>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-danger col-xs-12" ng-click="deleteTask(task.id)"><i class="glyphicon glyphicon-remove-sign"></i> Delete</button>
							</div>
						</li>
					</ul>
				</section>
			</div>
			<br />
			<div class="row" ng-controller="EmployeeCtrl">
				<div ng-repeat="employee in employeeList" class="employee-widget col-xs-{{colWidth}}">
					<h3 class="col-xs-12">{{employee.name}}</h3>
					<small>{{employee.title}}</small>
					<ul class="col-xs-12 list-unstyled">
						<li class="col-xs-12" ng-class="{even: $even,odd:$odd}" ng-repeat="task in getTaskByEmployee(employee.id) | filter:search">
							<div class="col-xs-7">{{task.name}}</div>
							<div class="col-xs-5">
								<button ng-show="task.isResolved()" class="btn btn-success col-xs-12 pull-right" ng-click="task.reopened()"><i class="glyphicon glyphicon-ok pull-left"></i> Completed</button>
								<button ng-hide="task.isResolved()" class="btn btn-default col-xs-12 pull-right" ng-click="task.resolved()">Complete</button>
							</div>
						</li>
					</ul>
					<h3>Total Hours: {{getTotalHours(employee.id)}} </h3>								
				</div>
			</div>
		</div>
	</body>
</html>
