<div class='container' style="min-height: 600px; border-top-right-radius: 0px; border-top-left-radius: 0px;padding-bottom:50px">
	<div ng-show="Character != null" class="col-lg-12">        	
		<div class="row col-lg-12">
			<h2 style="text-align:center">{{Character.name}} <small>{{Character.real_name}}</small></h2>
			<img ng-src="{{getImage(Character)}}" alt="{{Character.name}}" class="img-thumbnail center-block details" />
			<hr />
		</div>
		<div class="row col-lg-12">
			
			<p class="description" ng-bind-html="Character.deck"></p>
		</div>
		<div class="row col-lg-12">
			<hr />
			<strong>Other Characters:</strong> <span ng-repeat="Character in Characters | filter: {name: search.toLowerCase()} | orderBy: 'name'" class="character-list" ng-click="loadCard(Character)">{{Character.name}}</span>
		</div>	
	</div>
	<div ng-show="Character == null" class="col-lg-12">        	
		Not Found
	</div>
</div>